@charset "UTF-8";
body {
	background-color:#EEE8AA;
}
#add_button{
	float:left;
	background-color:#F0C17D;
	font-family:微软雅黑;
}
#add_button a{
	text-decoration:none;
	border:2px solid orange;
	border-radius: 6px;
	color:black;
	font-size:18px;
}
#add_button a:hover{
	background:linear-gradient(#F5DEB3,#F4A460); 
}
table{
	margin:auto;
	width:50%;
	border:3px solid orange;
	border-radius: 8px;
	color:#262626;
	box-shadow:0px 0px 8px 4px #aaa;
}
td{
	font-size:20px;
	width:50px;
	border:1px solid orange;
}
h2{
	margin-top:2%;
	text-align:center;
	font-size:35px;
	color:black;
	text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15); 
}
h3{
	text-align:center;
}
hr{
	width:70%;
	height:10px;
	margin-bottom:20px;
	border:none;
	border-top:10px groove skyblue;"
}
a{
	color:#D2691E;
	text-decoration:none;
}
a:hover{
	border-bottom: 2px solid orange;
}
input:hover{
	background:linear-gradient(#F5DEB3,#F4A460); 
		color: black;
}