@charset "UTF-8";
#outer{
	margin:auto;
	width:80%;
	border:1px solid black;
	background: rgba(255,228,181, 0.5);
}
#message{
	width:95%;
	height:150px;
	margin:10px;
}
#foodID ul li{
	list-style:none;
	float:left;
	width:253px;
	height:100%;
	background:url(img/bg2.gif) no-repeat;
	margin-left:3px;
	margin-top:8px;
	text-align:center;
	padding-top:5px;
	border:1px solid black;
}
#listfood{
	width:75%;
	margin:10px;
	border:1px solid black;
	list-style:none;
	float:left;
}
#commend{
	width:75%;
	margin:10px;
	border:1px solid red;
}
#clear{
	clear:both;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
td{
	width:200px;
}